<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${product.title}]] &ndash; Сельмаг</title>
</head>
<body>
<a th:href="@{/catalog/products/list}">&larr; К списку товаров</a>
<h1 th:text="${product.title}"></h1>
<ul>
    <li><strong>ID</strong>: <span th:text="${product.id}"></span></li>
    <li><strong>Название</strong>: <span th:text="${product.title}"></span></li>
    <li><strong>Описание</strong>: <span th:text="${product.details}"></span></li>
</ul>
<br>
<form method="get"
      th:action="@{/catalog/products/{productId}/edit(productId=${product.id})}">
    <button type="submit">Редактировать</button>
</form>
<form method="post"
      th:action="@{/catalog/products/{productId}/delete(productId=${product.id})}">
    <button type="submit">Удалить</button>
</form>
</body>
</html>